Magic 271485
Revision Verdi_O-2018.09-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 31 3766 1583 292 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/home/fxr/Project/riscv_asic/sim/openriscv_sopc_tb.fsdb" "/home/fxr/Project/riscv_asic/sim/openriscv_sopc_tb.fsdb.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1ns

; waveform viewport range
zoom 210394.379014 212347.484483 1n
cursor 2830.000000
marker 0.000000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 163

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


addGroup "ifu"
activeDirFile "" "/home/fxr/Project/riscv_asic/sim/openriscv_sopc_tb.fsdb.fsdb"
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_ifu/excp_jump_pc_i[31:0]
addSignal -h 15 -holdScope excp_jump_req_i
addSignal -h 15 -holdScope jump_pc_i[31:0]
addSignal -h 15 -holdScope jump_req_i
addSignal -h 15 -holdScope pc_o[31:0]
addSignal -h 15 -holdScope pc_r[31:0]
addSignal -h 15 -holdScope stall_i[5:0]
addGroup "idu"
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/pc_i[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope jump_pc_o[31:0]
addSignal -h 15 -holdScope jump_req_o
addSignal -h 15 -holdScope op1_data_o[31:0]
addSignal -h 15 -holdScope op2_data_o[31:0]
addSignal -h 15 -holdScope imm_data_o[31:0]
addSignal -h 15 -holdScope rd_addr_o[4:0]
addSignal -h 15 -holdScope rd_we_o
addSignal -h 15 -holdScope rs1_data[31:0]
addSignal -h 15 -holdScope rs1_re_o
addSignal -h 15 -holdScope rs2_data[31:0]
addSignal -h 15 -holdScope rs2_re_o
addSignal -h 15 -holdScope stallreq_o
addSubGroup "inst_b" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/inst_b_beq
addSignal -h 15 -holdScope inst_b_bge
addSignal -h 15 -holdScope inst_b_bgeu
addSignal -h 15 -holdScope inst_b_blt
addSignal -h 15 -holdScope inst_b_bltu
addSignal -h 15 -holdScope inst_b_bne
addSignal -h 15 -holdScope inst_b_jump
addSignal -h 15 -holdScope inst_b_op
endSubGroup "inst_b"
addSubGroup "inst_i" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/inst_i[31:0]
addSignal -h 15 -holdScope inst_i_addi
addSignal -h 15 -holdScope inst_i_andi
addSignal -h 15 -holdScope inst_i_op
addSignal -h 15 -holdScope inst_i_ori
addSignal -h 15 -holdScope inst_i_slli
addSignal -h 15 -holdScope inst_i_slti
addSignal -h 15 -holdScope inst_i_sltiu
addSignal -h 15 -holdScope inst_i_srai
addSignal -h 15 -holdScope inst_i_srli
addSignal -h 15 -holdScope inst_i_xori
endSubGroup "inst_i"
addSubGroup "inst_csr" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/inst_csr_csrrc
addSignal -h 15 -holdScope inst_csr_csrrci
addSignal -h 15 -holdScope inst_csr_csrrs
addSignal -h 15 -holdScope inst_csr_csrrsi
addSignal -h 15 -holdScope inst_csr_csrrw
addSignal -h 15 -holdScope inst_csr_csrrwi
addSignal -h 15 -holdScope inst_csr_i_op
addSignal -h 15 -holdScope inst_csr_op
addSignal -h 15 -holdScope inst_csr_r_op
endSubGroup "inst_csr"
addSubGroup "inst_j" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/inst_j_jal
addSignal -h 15 -holdScope inst_j_jalr
addSignal -h 15 -holdScope inst_j_op
endSubGroup "inst_j"
addSubGroup "inst_l" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/inst_l_lb
addSignal -h 15 -holdScope inst_l_lbu
addSignal -h 15 -holdScope inst_l_lh
addSignal -h 15 -holdScope inst_l_lhu
addSignal -h 15 -holdScope inst_l_lw
addSignal -h 15 -holdScope inst_l_op
endSubGroup "inst_l"
addSubGroup "inst_md" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/inst_md_div
addSignal -h 15 -holdScope inst_md_divu
addSignal -h 15 -holdScope inst_md_mul
addSignal -h 15 -holdScope inst_md_mulh
addSignal -h 15 -holdScope inst_md_mulhsu
addSignal -h 15 -holdScope inst_md_mulhu
addSignal -h 15 -holdScope inst_md_op
addSignal -h 15 -holdScope inst_md_rem
addSignal -h 15 -holdScope inst_md_remu
endSubGroup "inst_md"
addSubGroup "inst_r" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/inst_r_add
addSignal -h 15 -holdScope inst_r_and
addSignal -h 15 -holdScope inst_r_op
addSignal -h 15 -holdScope inst_r_or
addSignal -h 15 -holdScope inst_r_sll
addSignal -h 15 -holdScope inst_r_slt
addSignal -h 15 -holdScope inst_r_sltu
addSignal -h 15 -holdScope inst_r_sra
addSignal -h 15 -holdScope inst_r_srl
addSignal -h 15 -holdScope inst_r_sub
addSignal -h 15 -holdScope inst_r_xor
endSubGroup "inst_r"
addSubGroup "inst_s" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/inst_s_op
addSignal -h 15 -holdScope inst_s_sb
addSignal -h 15 -holdScope inst_s_sh
addSignal -h 15 -holdScope inst_s_sw
endSubGroup "inst_s"
addSubGroup "inst_sys" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/inst_sys_ebreak
addSignal -h 15 -holdScope inst_sys_ecall
addSignal -h 15 -holdScope inst_sys_mret
endSubGroup "inst_sys"
addSubGroup "inst_u" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/inst_u_auipc
addSignal -h 15 -holdScope inst_u_lui
addSignal -h 15 -holdScope inst_u_op
endSubGroup "inst_u"
addSubGroup "csr" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/csr_addr[11:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope csr_raddr_o[11:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope csr_rdata[31:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope csr_rdata_i[31:0]
addSignal -h 15 -holdScope csr_re_o
addSignal -h 15 -UNSIGNED -HEX -holdScope csr_waddr_o[11:0]
addSignal -h 15 -holdScope csr_we_o
endSubGroup "csr"
addSubGroup "ex to id" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/ex_csr_waddr_i[11:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ex_csr_wdata_i[31:0]
addSignal -h 15 -holdScope ex_csr_we_i
addSignal -h 15 -UNSIGNED -HEX -holdScope ex_rd_addr_i[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ex_rd_data_i[31:0]
addSignal -h 15 -holdScope ex_rd_we_i
endSubGroup "ex to id"
addSubGroup "ls to id" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu/ls_rd_addr_i[4:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope ls_rd_data_i[31:0]
addSignal -h 15 -holdScope ls_rd_we_i
endSubGroup "ls to id"
addGroup "exu" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_exu/pc_i[31:0]
addSignal -h 15 -holdScope rd_we_o
addSignal -h 15 -holdScope rd_addr_o[4:0]
addSignal -h 15 -holdScope stallreq_o
addSignal -h 15 -holdScope mem_addr_o[31:0]
addSignal -h 15 -holdScope rd_mem_data_o[31:0]
addGroup "lsu" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_lsu/mem_addr_o[31:0]
addSignal -h 15 -holdScope mem_rdata_i[31:0]
addSignal -h 15 -holdScope mem_re_o
addSignal -h 15 -holdScope mem_wdata_o[31:0]
addSignal -h 15 -holdScope mem_we_o
addSignal -h 15 -holdScope rd_addr_o[4:0]
addSignal -h 15 -holdScope rd_data_o[31:0]
addSignal -h 15 -holdScope rd_we_o
addGroup "ifu_sram" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u1_ahb_sram/haddr_i[31:0]
addSignal -h 15 -holdScope hrdata_o[31:0]
addSignal -h 15 -holdScope hreadyout_o
addSignal -h 15 -holdScope hsel_i
addSignal -h 15 -holdScope hwdata_i[31:0]
addSignal -h 15 -holdScope hwrite_i
addSignal -h 15 -holdScope state
addGroup "lsu_sram" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u2_ahb_sram/haddr_i[31:0]
addSignal -h 15 -holdScope hrdata_o[31:0]
addSignal -h 15 -holdScope hreadyout_o
addSignal -h 15 -holdScope hsel_i
addSignal -h 15 -holdScope hwdata_i[31:0]
addSignal -h 15 -holdScope hwrite_i
addSignal -h 15 -holdScope state
addGroup "uart" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_ahb_uart/haddr_i[31:0]
addSignal -h 15 -holdScope hrdata_o[31:0]
addSignal -h 15 -holdScope hreadyout_o
addSignal -h 15 -holdScope hsel_i
addSignal -h 15 -holdScope hwdata_i[31:0]
addSignal -h 15 -holdScope hwrite_i
addSignal -h 15 -holdScope rx
addSignal -h 15 -holdScope tx
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_ahb_uart/u_uart_tx/clk_tx
addSignal -h 15 -holdScope data_i[7:0]
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_ahb_uart/u_uart_rx/data_o[7:0]
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_ahb_uart/state[1:0]
addGroup "spi" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_ahb_spi/spi_clk
addSignal -h 15 -holdScope haddr_i[31:0]
addSignal -h 15 -holdScope hrdata_o[31:0]
addSignal -h 15 -holdScope hreadyout_o
addSignal -h 15 -holdScope hsel_i
addSignal -h 15 -holdScope hwdata_i[31:0]
addSignal -h 15 -holdScope hwrite_i
addSignal -h 15 -holdScope spi_miso
addSignal -h 15 -holdScope spi_mosi
addSignal -h 15 -UNSIGNED -HEX -holdScope state[1:0]
addGroup "timer" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_ahb_timer/hsel_i
addSignal -h 15 -holdScope haddr_i[31:0]
addSignal -h 15 -holdScope hrdata_o[31:0]
addSignal -h 15 -holdScope hwdata_i[31:0]
addSignal -h 15 -holdScope hwrite_i
addSignal -h 15 -holdScope state
addSignal -h 15 -holdScope timer_irq_o
addGroup "gpio" -e FALSE
addSignal -h 15 /openriscv_sopc_tb/u_openrisc_sopc/u_ahb_gpio/hsel_i
addSignal -h 15 -holdScope hwrite_i
addSignal -h 15 -holdScope haddr_i[31:0]
addSignal -h 15 -holdScope hreadyout_o
addSignal -h 15 -holdScope hwdata_i[31:0]
addSignal -h 15 -holdScope hrdata_o[31:0]
addSignal -h 15 -holdScope state[1:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope gpio_en[1:0]
addSignal -h 15 -holdScope io_pin[1:0]
addSignal -h 15 -holdScope io_pin[1]
addSignal -h 15 -holdScope io_pin[0]
addGroup "G12"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/home/fxr/Project/riscv_asic/sim/openriscv_sopc_tb.fsdb.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/openriscv_sopc_tb"
"/openriscv_sopc_tb/u_openrisc_sopc"
"/openriscv_sopc_tb/u_openrisc_sopc/u_ahb_uart"
"/openriscv_sopc_tb/u_openrisc_sopc/u_ahb_uart/u_uart_tx"
"/openriscv_sopc_tb/u_openrisc_sopc/u_openriscv"
"/openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_lsu"

SCOPE_LIST_BEGIN
"/openriscv_sopc_tb"
"/openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_ifu"
"/openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_idu"
"/openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_exu"
"/openriscv_sopc_tb/u_openrisc_sopc/u_openriscv/u_lsu"
"/openriscv_sopc_tb/u_openrisc_sopc"
"/openriscv_sopc_tb/u_openrisc_sopc/u_openriscv"
"/openriscv_sopc_tb/u_openrisc_sopc/u1_ahb_sram"
"/openriscv_sopc_tb/u_openrisc_sopc/u2_ahb_sram"
"/openriscv_sopc_tb/u_openrisc_sopc/u_ahb_uart"
"/openriscv_sopc_tb/u_openrisc_sopc/u_ahb_spi"
"/openriscv_sopc_tb/u_openrisc_sopc/u_ahb_uart/u_uart_tx"
"/openriscv_sopc_tb/u_openrisc_sopc/u_ahb_uart/u_uart_rx"
"/openriscv_sopc_tb/u_openrisc_sopc/u_ahb_timer"
"/openriscv_sopc_tb/u_openrisc_sopc/u_ahb_gpio"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


